
<!DOCTYPE html>
<html lang="">

<!-- Mirrored from reva.bouthythemes.com/index-particles.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Aug 2023 11:17:06 GMT -->
<head>

    <!-- meta Data -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title -->
    <title>My One Page</title>

    <!-- stylesheet -->
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <link rel="stylesheet" href="/assets/css/light_template.html" />
    <link rel="stylesheet" href="/assets/css/colors/default-color.css" />

    <!-- Plugins -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />

    <!-- google Fonts -->
    <link rel="stylesheet" href="https://fonts.gstatic.com/s/kaushanscript/v14/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2|Poppins:300i,400,600" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Start Section Tool Box -->

    <div class="option-box">
        <div class="color-option">
            <ul class="list-unstyled colors">
                <li data-value="/assets/css/colors/default-color.css"></li>
                <li data-value="/assets/css/colors/green-color.css"></li>
                <li data-value="/assets/css/colors/pink-color.css"></li>
                <li data-value="/assets/css/colors/blue-color.css"></li>
                <li data-value="/assets/css/colors/purple-color.css"></li>
            </ul>
        </div>
        <div class="gear-check">
            <i class="fas fa-cog fa-spin"></i>
        </div>
    </div>

    <!-- End Section Tool Box -->
    <!-- Start Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">

        <div class="container">
            <a href="#" class="logo">
                <span class="bg_logo"></span>
                <!-- You Can Edit the image on main.css file just search ( bg_logo ) -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="menu">
                    <span class="line1"></span>
                    <span class="line2"></span>
                    <span class="line3"></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li id="home" class="nav-item active-nav">
                        <a href="#home-cont" data-value="home-cont">
                            <i class="icon-home" hidden></i>
                            <span class="name-menu">@ViewBag.Navbar.section1</span>
                        </a>
                    </li>
                    <li id="about" class="nav-item">
                        <a href="#about-cont" data-value="about-cont">
                            <i class="icon-male-user" hidden></i>
                            <span class="name-menu">@ViewBag.Navbar.section2</span>
                        </a>
                    </li>
                    <li id="serv" class="nav-item">
                        <a href="#serv-cont" data-value="serv-cont">
                            <i class="icon-layers" hidden></i>
                            <span class="name-menu">@ViewBag.Navbar.section3</span>
                        </a>
                    </li>
                    <li id="work" class="nav-item">
                        <a href="#work-cont" data-value="work-cont">
                            <i class="icon-picture" hidden></i>
                            <span class="name-menu">@ViewBag.Navbar.section4</span>
                        </a>
                    <li id="contact" class="nav-item">
                        <a href="#contact-cont" data-value="contact-cont">
                            <i class="icon-envelope" hidden></i>
                            <span class="name-menu">@ViewBag.Navbar.section5</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="social-media">
                <a href="@ViewBag.Navbar.Github" target="_blank"><i class="fab fa-github"></i></a> <!-- You Can Edit the link here -->
                <a href="@ViewBag.Navbar.Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a> <!-- You Can Edit the link here -->
                <a href="@ViewBag.Navbar.Youtube" target="_blank"><i class="fab fa-youtube"></i></a> <!-- You Can Edit the link here -->
                <a href="@ViewBag.Navbar.İnstagram" target="_blank"><i class="fab fa-instagram"></i></a> <!-- You Can Edit the link here -->
            </div>
            <div class="collapse-menu">
                <span class="collapse-icon closed-menu"></span>
            </div>
        </div>
    </nav>
    <div class="nav-toggle">
        <div class="menu">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
        </div>
    </div>
    <!-- End Navbar -->
    <!-- Start Header -->

    <section id="home-cont" class="home1 home">
        <div id="particles-js" class="particles">
            <div class="title">
                <h1 class="text-uppercase"><strong>Meryem</strong> Aşkaroğlu</h1>
                <p class="type"></p>  <!-- You Can Edit the title on the custom.jscustom.js File -->
                <div class="btn-home">
                    <a href="#work-cont">@ViewBag.Navbar.section4</a>
                </div>
            </div>
        </div>
    </section>

    <!-- End Header -->
    <!-- Start About -->
    <section id="about-cont" class="about">
        <div class="title">
            <h1 class="kaushan">HAKKIMDA</h1>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-lg-6">
                    <div class="about-img bg-image"></div>
                    <!-- go to main.scss file to edit personal image -->
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="tabs-about">
                        <ul class="nav nav-tabs text-center" id="myTab" role="tablist">

                            <!-- Start About Me Title Tab -->
                            <li class="nav-item">
                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#aboutme" role="tab" aria-controls="about" aria-expanded="true">
                                    <i class="icon-male-user"></i>
                                    <span>Hakkımda</span>
                                </a>
                            </li>
                            <!-- End About Me Title Tab -->
                            <!-- ================ -->
                            <!-- Start Profile Title Tab -->
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">
                                    <i class="icon-star"></i>
                                    <span>Profil</span>
                                </a>
                            </li>
                            <!-- End Profile Title Tab -->
                            <!-- ================ -->
                            <!-- Start Skills Title Tab -->
                            <li class="nav-item">
                                <a class="nav-link" id="skill-tab" data-toggle="tab" href="#skill" role="tab" aria-controls="skill">
                                    <i class="icon-magic-wand"></i>
                                    <span>Yetenekler</span>
                                </a>
                            </li>
                            <!-- End Skills Title Tab -->
                        </ul>
                        <div class="tab-content" id="myTabContent">

                            <!-- Start About Me Tab -->
                            <div class="tab-pane fade show active text-left" id="aboutme" role="tabpanel" aria-labelledby="about-tab">
                                <p> @ViewBag.About.AboutMe</p>
                                <img src="/assets/images/signature.png" class="img-fluid signature" alt="signature" />
                                <!-- Here image Signature -->
                            </div>
                            <!-- End About Me Tab -->
                            <!-- ================ -->
                            <!-- Start Profile Tab -->
                            <div class="tab-pane fade text-left profile" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h6><span class="title-info">İsim :</span><span>@ViewBag.Profil.Name</span></h6> <!-- Edit Your Name  -->
                                <h6><span class="title-info">Uyruğu : </span><span>@ViewBag.Profil.Nationality</span></h6> <!-- Edit Your Nationality  -->
                                <h6><span class="title-info">Email : </span><span>@ViewBag.Profil.Email</span></h6> <!-- Edit Your Email  -->
                                <h6><span class="title-info">Doğum Tarihi : </span><span>@ViewBag.Profil.DateOfBirth</span></h6> <!-- Edit Your Date Of Birth  -->
                                <h6><span class="title-info">Telefon NUmarası : </span><span>0 @ViewBag.Profil.Phone</span></h6> <!-- Edit Your Phone -->

                                <div class="btn-about">
                                    <a href="#">Özgeçmişi İndir</a>
                                </div>
                            </div>
                            <!-- End Profile Tab -->
                            <!-- ================ -->
                            <!-- Start Skills Tab -->
                            <div class="tab-pane fade skill" id="skill" role="tabpanel" aria-labelledby="skill-tab">
                                @foreach (var item in ViewBag.Skills)
                                {
                                    <div class="skills">
                                        <p class="progress-text">@item.Skill</p> <!-- Here You Can Edit The Name Of Skill -->
                                        <div class="progress">
                                            <div class="progress-bar" data-present="@item.Percentage%"></div> <!-- Here You Can Edit The Percentage -->
                                        </div>

                                    </div>
                                }

                                <div class="btn-about">
                                    <a href="#contact-cont">İşe Al</a>
                                </div>
                            </div>
                            <!-- End Skills Tab -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End About -->
    <!-- Start Services -->
    <section id="serv-cont" class="serv">
        <div class="title">
            <h1 class="kaushan">HİZMETLER</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="servs">
                        <div class="row">
                            @foreach (var item in ViewBag.Services)
            {
                             <div class="col-lg-6">
                                 <div class="content">
                                     <img src="@item.Icon1URL" alt="serv1" />

                                     <h4>@item.Title1</h4>

                                     <ul style="list-style-type:square">

                                         <li>
                                         @item.String11
                                         </li>

                                         <li>
                                         @item.String12
                                         </li>

                                     </ul>
                                 </div>
                             </div>
            }
                        
                           
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="serv-vid bg-image">
                        <a class="play video" href="https://www.youtube.com/watch?v=96kI8Mp1uOU">
                            <!-- you can edit the link here -->
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Services -->
    <!-- Start Work -->
    <section id="work-cont" class="work">
        <div class="title">
            <h1 class="kaushan">PORTFÖY</h1>
        </div>
        <div class="container">
            <div class="shuffle">
                <ul class="list-unstyled">
                    <li data-class="all" class="active item">Tümü</li>
                    <li data-class=".web" class="item">Network Fundamentals<!--<div class="item web">--></li>
                    <li data-class=".graphic" class="item">SOCL2</li><!--class=Graphic-->
                    <!--  <li data-class=".marketing" class="item"></li> <div class="item marketing">  -->
                </ul>
            </div>
            <div class="gallery">
                <div class="row">
                    <!-- Start Image Number 1 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="item web">
                            <div class="over">
                                <div class="info-img">
                                    <h4>Cisco Packet Tracer</h4>
                                    <span>Network</span>
                                </div>
                                <a class="image" href="/assets/images/portfolio/01.jpg">
                                    <!-- ^ And Here -->
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                            <img src="/assets/images/portfolio/01.jpg" alt="imgPort1" class="img-fluid">
                            <!-- Here ^ You Can Change image And Up -->
                        </div>
                    </div>
                    <!-- End Image Number 1 -->
                    <!-- ===================== -->
                    <!-- Start Image Number 2 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="item graphic">
                            <div class="over">
                                <div class="info-img">
                                    <h4>SPLUNK ENTERPRISE</h4>
                                    <span>SOC L2</span>
                                </div>
                                <a class="image" href="/assets/images/portfolio/02.jpg">
                                    <!-- ^ And Here -->
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                            <img src="/assets/images/portfolio/02.jpg" alt="imgPort1" class="img-fluid">
                            <!-- Here ^ You Can Change image And Up -->
                        </div>
                    </div>
                    <!-- End Image Number 2 -->
                    <!-- ===================== -->
                    <!-- Start Image Number 3 WEB DESİNG DI -->
                    <!-- End Image Number 3 -->
                    <!-- ===================== -->
                    <!-- Start Image Number 4- Networktü -->
                    <!-- End Image Number 4 -->
                    <!-- ===================== -->
                    <!-- Start Image Number 5 WEB DESİNG DI -->
                    <!-- End Image Number 5 -->
                    <!-- ===================== -->
                    <!-- Start Image Number 6 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="item graphic">
                            <div class="over">
                                <div class="info-img">
                                    <h4>Eve-Topology</h4>
                                    <span>SOC L2</span>
                                </div>
                                <a class="image" href="/assets/images/portfolio/06.jpg">
                                    <!-- ^ And Here -->
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                            <img src="/assets/images/portfolio/06.jpg" alt="imgPort1" class="img-fluid">
                            <!-- Here ^ You Can Change image And Up -->
                        </div>
                    </div>
                    <!-- End Image Number 6 -->
                    <!-- ===================== -->
                    <!-- Start Image Number 7 marketing -->
                    <!-- End Image Number 7 -->
                    <!-- ===================== -->
                    <!-- Start Image Number 8 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="item graphic less">
                            <div class="over">
                                <div class="info-img">
                                    <h4>FortiNet FortiGate</h4>
                                    <span>SOC L2</span>
                                </div>
                                <a class="image" href="/assets/images/portfolio/08.jpg">
                                    <!-- ^ And Here -->
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                            <img src="/assets/images/portfolio/08.jpg" alt="imgPort1" class="img-fluid">
                            <!-- Here ^ You Can Change image And Up -->
                        </div>
                    </div>
                    <!-- End Image Number 8 -->
                    <!-- ===================== -->
                    <!-- Start Image Number 9 <div class="item web less">-->
                    <!-- End Image Number 9 -->
                    <!-- You can add more images here.. -->
                </div>
            </div>
        </div>
    </section>

    <!-- End Work -->
    <!--  <!-- Start Testimonials -->
    <!-- Start Contact -->
    <section id="contact-cont" class="contact">
        <div class="title">
            <h1 class="kaushan">İLETİŞİM</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form">
                    <form id="my_form" method="post" onsubmit="submitForm(); return false;">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input id="name" class="form-control" type="text" name="name" placeholder="İsmin" required />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <input id="email" class="form-control" type="email" name="email" placeholder="Mail Adresi" required />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <input id="phone" class="form-control" type="tel" name="phone" placeholder="Telefon Numarası" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <input id="subject" class="form-control" type="text" name="subject" placeholder="Konu" />
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="form-group">
                                <textarea id="msg" class="form-control" placeholder="Mesajımızı buraya yazınız ..." required></textarea>
                            </div>
                            <p>
                                <span class="send-btn">
                                    <input id="btn" class="btn" type="submit" value="Mesaj Gönder" /><i class="fas fa-long-arrow-alt-right"></i>
                                </span>
                                <span id="status"></span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="infos background-gradient">
                    <h2 class="text-uppercase kaushan"></h2>

                    <div class="email">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:@ViewBag.Informations.YourMail">@ViewBag.Informations.YourMail</a>
                    </div>
                    <div class="phone">
                        <i class="fas fa-phone"></i>
                        <a href="tel:+90 @ViewBag.Informations.PhoneNumber">0 @ViewBag.Informations.PhoneNumber</a>
                    </div>
                    <div class="address">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>@ViewBag.Informations.Address</span>
                    </div>


                </div>
            </div>
        </div>
        <!--
         <div class="maps" id="overlay">
    <div class="open-map">
        <span class="o-map active"><i class="fas fa-arrow-alt-circle-down"></i>Open Map</span>
        <span class="c-map"><i class="fas fa-arrow-alt-circle-up"></i>Close Map</span>
    </div>
    <div class="google-wrapper">
        <div id="google-map">
            
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162778.81964475298!2d-73.93891815355539!3d40.703660465248056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2s!4v1491335061565"></iframe>
        </div>
        </div>
        </div>

        -->

        <!-- Start Footer -->
        <!-- End Footer -->
    </section>

    <!-- End Contact -->
    <!-- Start Loading -->

    <div class="loading">
        <div class="blob-grid">
            <div class="blob blob-0"></div>
            <div class="blob blob-1"></div>
            <div class="blob blob-2"></div>
            <div class="blob blob-3"></div>
            <div class="blob blob-4"></div>
            <div class="blob blob-5"></div>
        </div>
    </div>

    <!-- End Loading -->


    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/typed.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/particles.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/custom.js"></script>
</body>

<!-- Mirrored from reva.bouthythemes.com/index-particles.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Aug 2023 11:17:23 GMT -->
</html>
